.table
  .table-row
    .table-cell.sidebar
      %a{:href => "https://www.riversideca.gov"}
        = image_tag "https://www.riversideca.gov/images/2013/althorzblkbell2.png", :style => "margin-top:10px;margin-bottom:12px", :width => '189px', :alt => t("sponsors.city"), :title => t("sponsors.city")
      %h1
        Adopt a Drain

      %p.alert-message.block-message#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "layouts/flash", :locals => {:flash => flash}
        - if signed_in?
          = render :partial => "sidebar/search"
        - else
          = render :partial => "sidebar/combo_form"
      #logos
        %a{:href => "http://engageriverside.com/"}
          = image_tag "https://riversideca.gov/images/2012/cor-logo-30x30.png", :width => '30px', :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")

      #feedback
        %br
        %br
        %br
        %p
          Report maintenance needs to the
          %a{:href => URI.escape("https://riversideca.gov/publicworks")} City of Riverside Public Works Department
          or visit
          %a{:href => "http://crmweb.riversideca.gov"}crmweb.riversideca.gov
        %p{:style => "font-size: 120%"}
          %a{:href => URI.escape("mailto:webmaster@riversideca.gov?subject=#{t("titles.main", :thing => t("defaults.thing").titleize)} #{t("links.feedback").titleize}")}
            = t("links.feedback")
    .table-cell.map-container
      #map
        &nbsp;
      #legend
